@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-color: #08e488;
  --main-color-dark: #039a5b;
  --white: #ffffff;
  --gray: #acacac;
  --dark-gray: #333;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  margin: 0 20px;
}

.wrap {
  margin: 150px 0px;
  background-color: var(--white);
  width: 100%;
  max-width: 600px;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(33, 61, 42, 0.2);
}

header {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: 30px;
  font-family: "Bebas Neue", cursive;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--main-color);
  font-size: 16px;
}

#new-task-input::placeholder {
  color: var(--gray);
}

#new-task-submit {
  padding: 15px 0;
  width: 140px;
  background-color: var(--main-color);
  border: none;
  outline: none;
  color: var(--dark-gray);
  border-radius: 5px;
  margin: 5px;
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

main {
  margin-top: 40px;
}

.task-list {
  padding: 16px 0 0 0;
}

.task-list h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-family: "Bebas Neue", cursive;
  color: var(--black);
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  border-left: 5px solid var(--main-color);
  padding-left: 20px;
  margin-bottom: 10px;
}

.task .content .text {
  color: var(--dark-gray);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: var(--main-color);
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  color: var(--dark-gray);
}

.task .actions .delete {
  color: crimson;
}

.footer {
  position: fixed;
  color: var(--main-color-dark);
  text-align: center;
  bottom: 0px;
  background-color: var(--main-color);
  width: 100vh;
  padding: 20px 0 20px 0;
}

.footer a {
  color: var(--main-color-dark);
  text-decoration: underline 1px;
}

.footer a:hover {
  text-decoration: underline 3px;
}

@media only screen and (max-width: 520px) {
  #new-task-form {
    flex-direction: column;
    align-items: center;
  }

  #new-task-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .task .actions .edit {
    font-size: calc(12 / 16 * 1rem);
  }

  .task .actions .delete {
    font-size: calc(12 / 16 * 1rem);
  }

  .task .content .text {
    font-size: calc(12 / 16 * 1rem);
  }

  .footer {
    font-size: calc(10 / 16 * 1rem);
  }
}
