@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-color: #08e488;
  --main-color-dark: #039a5b;
  --white: #ffffff;
  --gray: #acacac;
  --dark-gray: #333;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
